


        <div class="col-md-6">
            <h4>Articles with longest history (measured by age in years)</h4>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Article Name</th>
                        <th>Age (year)</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0, size = oldest_articles.length; i < size; i++) {%>
                        <tr>
                            <td><%= oldest_articles[i].title%></td>
                            <td><%= oldest_articles[i].age%></td>
                        </tr>
                    <% } %>                        
                </tbody>
                
            </table>               
        </div>

        <div class="col-md-6">
            <h4>Articles with shortest history (measured by age in years)</h4>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Article Name</th>
                        <th>Age (year)</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0, size = youngest_articles.length; i < size; i++) {%>
                        <tr>
                            <td><%= youngest_articles[i].title%></td>
                            <td><%= youngest_articles[i].age%></td>
                        </tr>
                    <% } %>                        
                </tbody>
                
            </table>               
        </div>   