<!-- Return timestamps of all changes by a specific user for a specific title -->

<div class="row">
    
    <h3>Revisions made to <%= title %></h3>
</div>

    <% for (let i = 0, size = titleRevisions.length; i < size; i++) {%>
        <div class="row">
            <p>
                <%= titleRevisions[i].timestamp %>
            </p>
        </div>
    <% } %>