
        <!-- Example row of columns -->
        <div class="row">
            <h3>Select an author</h3>
                <label for="authorSearchLabel">Enter author's name:
                <input list="authorList" id="authorSearchLabel" name="myAuthor" value="Enter at least three characters"/></label>
                <datalist id="authorList">
                </datalist>
                <input type="submit" value="OK" id="authorSearchButton">
        </div>
        <div id="authorResult" class="row">
        </div>

        <div id="authorRevisionResult" class="row">
        </div>
    
        <hr>
    
        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>