
        <!-- Example row of columns -->
        <div class="row">
                <h3>Select an author</h3>
                    <form method="post">
                        <label for="highRev">Author:  </label>
                        <input id="articleTitle" type="text" name="title" value="Enter author's name">
                        <input type="submit" value="OK">
                    </form>     
            </div>
            <div class="row">
                <h2>Display results here</h2>
                    
            </div>
    
            <hr>
    
            <footer>
                <p>&copy; 2016 Company, Inc.</p>
            </footer>
      