
        <!-- Example row of columns -->
        <div class="row">
            <h3>Select an author</h3>
        </div>



        <div class="row">
             <div class="form-group" >
                <label for="authorSearchLabel">Enter author's name:
                <input class="form-control" list="authorList" id="authorSearchInput" name="myAuthor"></label>
                <datalist id="authorList">
                </datalist>
                <button class="btn btn-outline-secondary" id="authorSearchButton">OK</button>            
            </div>               

        </div>

        <div id="authorResult">
        </div>

<!--         <div id="authorRevisionResult">
        </div> -->

        <div class="row" id="author-table-container"></div>
    
        <hr>


