
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Articles with highest number of revisions</h3>
                <form method="post">
                    <label for="highRev">Show </label>
                    <input id="highRev" type="number" name="numArticle" min="1" max="100" value="3">
                    <b>results</b>
                    <input type="submit" value="OK">
                </form>
                <% for (let i = 0, size = top_revisions.length; i < size; i++) {%>
                    <p>
                        <%= top_revisions[i]._id%> : <%= top_revisions[i].numOfEdits%>
                    </p>
                <% } %>
            </div>
            <div class="col-md-6">
                <h3>Articles with lowest number of revisions</h3>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Articles with largest group of registered users</h3>
               
            </div>
            <div class="col-md-6">
                <h3>Articles with smallest group of registered users</h3>
               
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <h3>Articles with longest history (measured by age)</h3>
                    <% for (let i = 0, size = oldest_articles.length; i < size; i++) {%>
                        <p>
                            <%= oldest_articles[i].title%> : <%= oldest_articles[i].age%>
                        </p>
                    <% } %>
                   
                </div>
                <div class="col-md-6">
                    <h3>Articles with shortest history (measured by age)</h3>
                   
                </div>
            </div>

        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
