
<h2>Individual analysis result</h2>
<h4> <b>Title: </b>  
<%= title %>
</h4>
<h4> <b>Total number of revision: </b>
<%= numRev %>
</h4>

<table id="indivResultTable">
        <caption>Top 5 Regular Users</caption>
          <thead>
            <tr>
              <th scope=“col”>User</th>
              <th scope=“col”>Number of revisions</th>
            </tr>
          </thead>
          <tbody>
                <% for (let i = 0, size = topUsers.length; i < size; i++) {%>
                    <tr>
                        <td><%= topUsers[i]._id %></td>
                        <td><%=topUsers[i].numOfEdits %> </td>
                    </tr>
                <% } %> 
          </tbody>
        </table>
        

