
        <!-- Example row of columns -->
        <div class="row">
            <h3>Select an article</h3>
                <label for="highRev">Title:  </label>
                <input id="articleTitle" type="text" name="title" value="Enter title">
                <input type="submit" value="OK">   
        </div>
        <div class="row">
            <h2>Display results here</h2>
                
        </div>

        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
  