
        <!-- Example row of columns -->
        <div class="row">
            <h3>Select an article</h3>
                <label for="titlelist">Title:  </label>
                <select id="titlelist">
                        <% for (let i = 0, size = titleOptions.length; i < size; i++) {%>
                            <option>
                                <%= titleOptions[i] %>
                            </option>
                        <% } %>    
                </select>
                <button id="titleokay">OK</button>
        </div>
        <div id="individualResult" class="row">                
        </div>

        <!-- The Modal -->
        <div id="indivModal" class="modal">

        </div>


        <div class="chart row">
            <h2>Overall Charts</h2>
            <div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active" id="option1" >
                        <input type="radio" name="options" autocomplete="off"  checked> Bar Chart
                    </label>
                    <label class="btn btn-primary" id="option2" >
                        <input type="radio" name="options" autocomplete="off" > Pie Chart
                    </label>
                    <label class="btn btn-primary " id="option3" >
                        <input type="radio" name="options" autocomplete="off"> Top Users Bar Chart
                    </label>
                </div>
                
            </div>

            <div class="chart-group">
                <div id="bar-chart-container">
                    <h3>Revision number by year</h2>
                    <div id="bar-chart"></div>
                </div>   
                <div id="pie-chart-container" style="display: none;">
                    <h3>Revision number distribution by user type</h2>
                    <div id="pie-chart"></div>
                </div>
                <div id="bar-chart-container-2" style="display: none;">

                    <h3>
                        Revision number by year for top users  <div id="user-select-container"></div>
                    </h3>
                   
                    <div id="bar-chart-2"></div>
                </div>   
            </div>

        </div>


        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
  