
        <!-- Example row of columns -->

        <div class="row">
            <h2>Select an article</h2>
        </div>

        <div class="row">
            
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <select class="form-control" id="titlelist">
                            <% for (let i = 0, size = titleOptions.length; i < size; i++) {%>
                                <option value="<%= titleOptions[i]._id %>" >
                                    <%= titleOptions[i]._id %> (<%= titleOptions[i].numOfEdits %>) 
                                </option>
                            <% } %>    
                    </select>                        
                    <button class="btn btn-outline-secondary" id="titleokay">OK</button>
                </div>
           
            </div>
           

        </div>
        <div id="individualResult" >                
        </div>

        <!-- The Modal -->
        <div id="indivModal" class="modal">

        </div>


        <div id="chart-container" class="chart" style="display: none">
            <div class="row">
                <h2>Individual Charts</h2>
            </div>
            <div class="row">
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active" id="option1" >
                            <input type="radio" name="options" autocomplete="off"  checked> Bar Chart
                        </label>
                        <label class="btn btn-primary" id="option2" >
                            <input type="radio" name="options" autocomplete="off" > Pie Chart
                        </label>
                        <label class="btn btn-primary " id="option3" >
                            <input type="radio" name="options" autocomplete="off"> Top Users Bar Chart
                        </label>
                    </div>
                    
                </div>               
            </div>


            <div class="chart-group row">
                <div id="bar-chart-container">
                    <h3>Revision number by year</h2>
                    <div id="bar-chart"></div>
                </div>   
                <div id="pie-chart-container" style="display: none;">
                    <h3>Revision number distribution by user type</h2>
                    <div id="pie-chart"></div>
                </div>
                <div id="bar-chart-container-2" style="display: none;">

                    <h3>
                        Revision number by year for top users  <div id="user-select-container"></div>
                    </h3>
                   
                    <div id="bar-chart-2"></div>
                </div>   
            </div>

        </div>

    <hr>


  