
        <!-- Example row of columns -->
        <div class="row">
            <h3>Select an article</h3>
                <label for="titlelist">Title:  </label>
                <select id="titlelist">
                        <option value="All">All</option>
        
                </select>
                <button id="titleokay">OK</button>
        </div>
        <div id="individualResult" class="row">
            <h2>Display results here</h2>
                
        </div>

        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
  