

        <!-- Modal content -->

        <div class="modal-content">
            <div class="modal-header">
              <h2><%= heading %> </h2>
              <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <h4>
                    <%= message1 %>
                </h4>
                <p>
                  <%= message2 %>
                </p>
            </div>
          </div>
      
