
        <div class="col-md-6">
            <h4>Articles with highest number of revisions</h4>
                
            <% for (let i = 0, size = top_revisions.length; i < size; i++) {%>
                <p>
                    <%= top_revisions[i]._id%> : <%= top_revisions[i].numOfEdits%>
                </p>
            <% } %>
        </div>
        <div class="col-md-6">
            <h4>Articles with lowest number of revisions</h4>
            <% for (let i = 0, size = bottom_revisions.length; i < size; i++) {%>
                <p>
                    <%= bottom_revisions[i]._id%> : <%= bottom_revisions[i].numOfEdits%>
                </p>
            <% } %>
           
        </div>

