

        <div class="col-md-6">
            <h4>Articles with largest group of registered users</h4>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Article Name</th>
                        <th>Number of Users</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0, size = top_regUsers.length; i < size; i++) {%>
                        <tr>
                            <td><%= top_regUsers[i]._id%></td>
                            <td><%= top_regUsers[i].noUniqueUsers%></td>
                        </tr>
                    <% } %>                        
                </tbody>
                
            </table>               
        </div>

        <div class="col-md-6">
            <h4>Articles with smallest group of registered users</h4>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Article Name</th>
                        <th>Number of Users</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0, size = bottom_regUsers.length; i < size; i++) {%>
                        <tr>
                            <td><%= bottom_regUsers[i]._id%></td>
                            <td><%= bottom_regUsers[i].noUniqueUsers%></td>
                        </tr>
                    <% } %>                        
                </tbody>
                
            </table>               
        </div>