<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<meta name="description" content="">
	<meta name="author" content="">

	<title>WikiLatic</title>

	<!-- Bootstrap core CSS -->
	<link href="dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/analytics.css" rel="stylesheet">

	<!-- jQuery has to be loaded in head section-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')
	</script>
	<!-- <script src="js/ejs.js"></script> -->


</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">

				<a class="navbar-brand" href="/">Wiki Analytics</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">

			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">

			<h1 id="mainTitle">Overview</h1>

			<div class="row">
				<div id="tabs">
					<a id="group_button" class="btn btn-primary btn-lg" role="button">Overview&raquo;</a> 
					<a id="individual_button" class="btn btn-primary btn-lg" role="button">Individual Analysis&raquo;</a>
					<a id="author_button" class="btn btn-primary btn-lg" role="button">Author Analysis &raquo;</a>
				</div>
			</div>
		</div>
	</div>



	<div id="analysis" class="container">
		<%- include('templates/group.ejs'); %>
	</div>  

	<!-- /container -->
	<% var group_html = include('templates/group.ejs'); %>
	<% var author_html = include('templates/author.ejs'); %>

	<script>
		$(document).ready(function(){
			$("#group_button").click(function(){
				$("#analysis").html(`<%- group_html %>`);
                $("#analysis").addClass('group');
                $("#analysis").removeClass('individual');
                $("#analysis").removeClass('author');
                $.getScript('js/charts.js')
                $("#mainTitle").html('Overview');
			});
            $("#tabs").on('click', '#individual_button', function(){
                $("#analysis").load('/individual');
                $("#analysis").removeClass('group');
                $("#analysis").addClass('individual');
                $("#analysis").removeClass('author');
                $.getScript('js/charts.js')
                $("#mainTitle").html('Individual Analysis');
            });
			$("#author_button").click(function(){
				$("#analysis").html(`<%- author_html %>`);     
                $("#analysis").removeClass('group');
                $("#analysis").removeClass('individual');
                $("#analysis").addClass('author');
                $.getScript('js/charts.js')
                $("#mainTitle").html('Author Analysis');
			});    
            $(document).on('click', '#okay1', function(){
                var parameter = {number: $("#numRevision").val()};
                var jqxhr = $.get( '/numrevision',parameter);
                jqxhr.done(function(result) {
                    $('#numRevisionResult').html(result);
                });
                jqxhr.fail(function(jqXHR){
                    $('#numRevisionResult').html("Response status:" + jqXHR.status)
                    //console.log("Response status:" + jqXHR.status)
                });
			});
			
			$(document).on('click', '#okay2', function(){
                var parameter = {number: $("#numPopular").val()};
                var jqxhr = $.get( '/popular',parameter);
                jqxhr.done(function(result) {
                    $('#numPopularResult').html(result);
                });
                jqxhr.fail(function(jqXHR){
                    $('#numPopularResult').html("Response status:" + jqXHR.status)
                    //console.log("Response status:" + jqXHR.status)
                });
            }); 

            $(document).on('click', '#okay3', function(){
                var parameter = {number: $("#numHistory").val()};
                var jqxhr = $.get( '/age',parameter);
                jqxhr.done(function(result) {
                    $('#numHistoryResult').html(result);
                });
                jqxhr.fail(function(jqXHR){
                    $('#numHistoryResult').html("Response status:" + jqXHR.status)
                    //console.log("Response status:" + jqXHR.status)
                });
            }); 
            
            var titleInput;
            $(document).on('click', '#titleokay', function(){
                titleInput = {title: $("#titlelist").val()};
                var jqxhr = $.get( '/individualmodal',titleInput);
                jqxhr.done(function(result) {
                    $('#indivModal').html(result);

                    var top5 = $.get('/top5Users', titleInput);
                    top5.done(function(users) {
                        $('#user-select-container').html(users);
                        $('#user-select').multiselect({
                            includeSelectAllOption: true,
                            selectAllValue: 'select-all-value'
                        });
                    });

                    top5.fail(function(top5) {
                        $('#user-select-container').html(top5.status);

                    })
                });
                jqxhr.fail(function(jqXHR){
                    $('#indivModal').html("Response status:" + jqXHR.status)
                    //console.log("Response status:" + jqXHR.status)
                });
                $('#indivModal').css({ display: "block" });

            });

            $(document).on('click', '.close', function() {
                $('#indivModal').css({ display: "none" });
                var jqxhr = $.get( '/individualresult',titleInput);
                jqxhr.done(function(result) {
                    $('#individualResult').html(result);

                });
                jqxhr.fail(function(jqXHR){
                    $('#individualResult').html("Response status:" + jqXHR.status)
                    //console.log("Response status:" + jqXHR.status)
                });
            })

            $(document).on('click', '#option1', function(){
			    document.getElementById('bar-chart-container').style.display = '';
			    document.getElementById('pie-chart-container').style.display = 'none';
                if ($('#bar-chart-container-2').length != 0)
                    document.getElementById('bar-chart-container-2').style.display = 'none';
            }); 

            $(document).on('click', '#option2', function(){
			    document.getElementById('bar-chart-container').style.display = 'none';
			    document.getElementById('pie-chart-container').style.display = '';
                if ($('#bar-chart-container-2').length != 0)
                    document.getElementById('bar-chart-container-2').style.display = 'none';
            }); 

            $(document).on('click', '#option3', function(){
                document.getElementById('bar-chart-container').style.display = 'none';
                document.getElementById('pie-chart-container').style.display = 'none';
                if ($('#bar-chart-container-2').length != 0)
                    document.getElementById('bar-chart-container-2').style.display = '';
            }); 
        });           


	</script> 

	<!-- Bootstrap core JavaScript -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

	<!-- Google charts scripts -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<!-- local script -->
	<script src="js/charts.js"></script>

    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <!-- multi-select stylesheet -->
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/> 

	<script>

	</script>

</body>

</html>
